<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="@Url.Content("~/Content/template/")css/bootstrap.css" rel="stylesheet" />
        <link href="@Url.Content("~/Content/template/")css/Footer.css" rel="stylesheet" />
        <link href="@Url.Content("~/Content/template/")css/style.css" rel="stylesheet" />
        <script src="@Url.Content("~/Content/template/")js/bootstrap.js"></script>
        <script src="@Url.Content("~/Content/template/")js/jquery-1.11.1.min.js"></script>
        <script src="@Url.Content("~/Content/template/")js/JavaScript1.js"></script>
    </head>
    <body>
        <div class="navbar navbar-default ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo navbar-brand">
                        <a href="/Home/Index">STITCH FAB</a>
                    </div>
                </div>
                <div class="right-div">
                    <ul class="list-inline">
                        <li><a href="/Home/Logout"><input type="button" class="btn btn-default" value="Log Out"></a></li>                       
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Tailor")</li>
                        <li>@Html.ActionLink("My Products", "MyProducts", "Tailor")</li>
                        <li>@Html.ActionLink("Profile", "TailorProfile", "Tailor")</li>
                        <li>@Html.ActionLink("Orders", "Orders", "Tailor")</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer class="footer1">
            <div class="container">
                <div class="row">
                    <!-- row -->

                    <div class="col-lg-3 col-md-3">
                        <!-- widgets column left -->

                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 class="title-widget">About Us</h1>

                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Company</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Mission</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>How it Works</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Terms & Conditions</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
                                </ul>

                            </li>

                        </ul>


                    </div><!-- widgets column left end -->


                    <div class="col-lg-3 col-md-3">
                        <!-- widgets column left -->
                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 class="title-widget">Why Stitch Fab</h1>

                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Ease of Access</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Custome Tailors</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Perfect Measurements</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Custome Design</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Customer Reviews</a></li>

                                </ul>

                            </li>

                        </ul>


                    </div><!-- widgets column left end -->
                    <div class="col-lg-3 col-md-3">
                        <!-- widgets column left -->

                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_nav_menu">
                                <!-- widgets list -->

                                <h1 class="title-widget">Customer Care</h1>

                                <ul>

                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ's</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Contact us</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Deleivery</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Complain Form</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Customer Testimonials</a></li>
                                </ul>

                            </li>

                        </ul>


                    </div><!-- widgets column left end -->


                    <div class="col-lg-3 col-md-3">
                        <!-- widgets column center -->



                        <ul class="list-unstyled clear-margins">
                            <!-- widgets -->

                            <li class="widget-container widget_recent_news">
                                <!-- widgets list -->

                                <h1 class="title-widget">Contact Detail </h1>

                                <div class="footerp">

                                    <h2 class="title-median">StitchFab.com</h2>
                                    <p><b>Email id:</b> <a href="mailto:info@webenlance.com">info@StitchFab.com</a></p>
                                    <p>
                                        <b>Helpline Numbers </b>
                                        <b style="color:#ffc106;">(24/7):</b>  +92-8130890090, +92-8130190010
                                    </p>

                                    <p><b>Corp Office / Postal Address</b></p>
                                    <p><b>Phone Numbers : </b>7042827160, </p>
                                    <p> 011-27568832, 9868387223</p>
                                </div>

                                <div class="social-icons">
                                    <ul class="nomargin">
                                        <li>
                                            <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                            <a href="https://twitter.com"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                            <a href="https://plus.google.com"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="copyright">
                            © 2017, StitchFab, All rights reserved

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="design">
                            <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Squad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
