@model StitchFab.Models.Tailor
@using StitchFab.Models
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_TaylorNav.cshtml";
    var obj = (Tailor)Session["Tailor"];
}

<div class="container">
    <h1>Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive img-size" src='@Url.Content("~/Content/template/img/TailorProfile")/@obj.ProfilePicName'  style="height:200px;
                     width:300px" />
                </a>
            </div>        
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Personal info</h3>
            <form class="form-horizontal" role="form" action="@Url.Content("EditProfile")">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" readonly value="@obj.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" readonly value="@obj.Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                        <input class="form-control"  readonly value="@obj.Password">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-lg-3 control-label">Address:</label>
                    <div class="col-lg-8">
                        <input class="form-control" readonly type="text" value="@obj.Address">
                    </div>
                </div>
               
              
                <div class="form-group">
                    <label class="col-md-3 control-label">Contact:</label>
                    <div class="col-md-8">
                        <input class="form-control" readonly type="text" value="@obj.Contact">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">CNIC</label>
                    <div class="col-md-8">
                        <input class="form-control" readonly type="text" value="@obj.CNIC">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input type="submit"  class="btn btn-primary" value="Edit Info">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




